.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body{
  background-color: #000;
  color: #fff;
}

a{
  color: gray;
  text-decoration: none;
  padding: 5px;
  &:focus, &:hover, &:visited, &:link, &:active {
      color: gray;
  }
}